@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Overpass:wght@500&display=swap");
* {
  font-family: "Lato", sans-serif;
}

#navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #282c34;
  color: white;
  display: grid;
  grid-template-columns: auto 50%;
  padding: 0.5em;
  box-sizing: border-box;
}
#elements {
  font-size: 1em;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  grid-gap: 50px;
  padding: 0.5em;
  margin-right: 0px;
}
#login {
  margin: 0.5rem;
}
#login-button {
  padding: 0.7em;
  background-color: green;
  border-radius: 1rem;
  color: white;
  border: green;
  font-size: 1em;
}
.element {
  margin: auto;
  font-size: 1.2em;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
}
a:visited,
a:active {
  text-decoration: none;
  color: white;
}
a:hover {
  font-size: 1.2em;
  text-decoration: none;
  color: white;
}
#logo {
  font-size: 1.8em;
  text-align: left;
  margin: 0.5em;
  font-family: "Dancing Script", cursive;
}
#logo :hover {
  font-size: 1.8rem;
  cursor: context-menu;
}
/* * {
  border: solid black 2px;
} */
